.card{
	border-radius:5px;

	.row{
		padding: 2px 16px;
	}
	.progress{
		height: 0.5rem;
	}

	.card-footer{
		padding: 5px 16px;
		background-color:#F4F4F4;
	}

	.led{
		
	}
}
.create-new{
	height:315px;
	border-style: dotted;
	display: table;
  	width: 100%;
  	.add{
  		 display: table-cell;
		  text-align: center;
		  vertical-align: middle;
		  color:#DDDDDD;
  	}
}

.p-n{
	padding:0px;
}

.top-bar, .top-bar ul{
  background-color: $nav-backgroud;
}

.top-bar {
  margin-top:10px;
  margin-bottom:10px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  #dp{
    margin:0px;
    background-color:#F6F6F6;
  }
  .menu-text{
    color: $nav-text-color;
    font-weight: inherit;
  }
  .txt-red{
    color:red;
  }
  .menu > .menu-text > a{
    display: inline;
    padding: 0;
  }
  .active-link{
    font-weight: bold;
  }
  .label{
    border-radius: 15px;
    width: 40px;
    text-align: center;
  }
}
