//colors
$grey: #333333;

//navigation colors
$nav-backgroud: #F6F6F6;
$nav-text-color: #757575;

// Clock variables
$clock-text-color: white;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;
